/* NOTE!!! Add comments at the end of each line of code you add or change,
 indicate why you made the addition/change and/or the specific accessibility
 issue you are trying to address */ 

body {
    font-family: Arial, sans-serif;
    color: #e7e6e6; /* Made lighter for more contrast */
    background-color: #5a5959; /* made darker for more contrast with text */
	border: solid 5px;
	margin: 100px;
}

header {
	text-align: center;
	background-color: #333; 
	color: white;
	padding: 10px 0;
}
h1 {
    font-size: 36; /* Increased font-size for better legitibility */
    text-align: center; 
}

h2 {
    text-align: center;
}

h3 {
    margin: 20px;
}

p {
    text-align: center;
}

a {
    color: #ce8921; /* Changed to orange for better contrast */
}

a:hover {
    color: #f9d937; /* Changed to yellow to highlight hovering*/
}

form {
    color: #000;
}

input[type="submit"] {
    background-color: lightgrey;
    color: white;
    border: none;
}

button {
    cursor: pointer;
    font-size: 1.2em; /* Increased font-size for better ligibility */
}

/* Missing focus styles for interactive elements */
a:focus, button:focus, input:focus {
    /* No focus styles defined */
}
